<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JohnBPearson.Windows.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <!--<section name="GuildAdTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />-->
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="JohnBPearson.Windows.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
	  <JohnBPearson.Windows.Forms.Properties.Settings>
    <setting name="AcceptanceMessage" serializeAs="String">
     <value>Glad to have you here! Don't hesitate to ask for help. Our discord link is in the Guild window 'Description' (press G).</value>
    </setting>
    <setting name="UserHotKeyGuildAd" serializeAs="String">
     <value>s</value>
    </setting>
    <setting name="AllowedHotkeys" serializeAs="String">
     <value>a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z</value>
    </setting>
    <setting name="GuildAd" serializeAs="String">
     <value>Max XP + Active (optional) discord. 
 Chill, friendly, helpful. No requirements/alt limits, just be kind/respectful. 
 Rank + conquest rewards. Social + PvE + PvP Events. 
 Get involved or focus on solo play! Whisper for info/inv.</value>
    </setting>
    <setting name="UserHotkeyAcceptance" serializeAs="String">
     <value>a</value>
    </setting>
   </JohnBPearson.Windows.Forms.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <JohnBPearson.Windows.Forms.Properties.Settings>
      <setting name="HotkeyModifiers" serializeAs="String">
        <value>Alt + Shift + </value>
      </setting>
    </JohnBPearson.Windows.Forms.Properties.Settings>
  </applicationSettings>
</configuration>