<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JohnBPearson.Windows.Forms.KeyBindingButler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="JohnBPearson.Windows.Forms.HotkeyButler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="JohnBPearson.Windows.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <!--<section name="GuildAdTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />-->
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JohnBPearson.Windows.Forms.KeyBindingButler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="JohnBPearson.Windows.Forms.HotkeyButler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="JohnBPearson.Windows.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <JohnBPearson.Windows.Forms.KeyBindingButler.Properties.Settings>
      <setting name="deprecated_hotkey1" serializeAs="String">
        <value>john.b.pearson</value>
      </setting>
      <setting name="Reminder01" serializeAs="String">
        <value>Test</value>
      </setting>
      <setting name="MaximumReminders" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="autoSave" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinimizeToTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BindableValues" serializeAs="String">
        <value>123Isabella!|abc|||||||||||||||||123Isabella!|||||||s</value>
      </setting>
      <setting name="ServantName" serializeAs="String">
        <value>Johnny Butler</value>
      </setting>
      <setting name="LastBoundKeyPressed" serializeAs="String">
        <value>p</value>
      </setting>
      <setting name="BindableCommands" serializeAs="String">
        <value>dir||||||||||||||||||pushd c:\|||||||s</value>
      </setting>
      <setting name="Descriptions" serializeAs="String">
        <value>test|||||||||||||||||||||||||</value>
      </setting>
    </JohnBPearson.Windows.Forms.KeyBindingButler.Properties.Settings>
    <JohnBPearson.Windows.Forms.HotkeyButler.Properties.Settings>
      <setting name="hotkey2" serializeAs="String">
        <value>612Annie#</value>
      </setting>
      <setting name="UserHotKeyGuildAd" serializeAs="String">
        <value>s</value>
      </setting>
      <setting name="AllowedHotkeys" serializeAs="String">
        <value>a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z</value>
      </setting>
      <setting name="UserHotkeyAcceptance" serializeAs="String">
        <value>a</value>
      </setting>
      <setting name="hotkey1" serializeAs="String">
        <value>john.b.pearson</value>
      </setting>
      <setting name="Reminder01" serializeAs="String">
        <value>Test</value>
      </setting>
      <setting name="MaximumReminders" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="autoSave" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinimizeToTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HotkeyValues" serializeAs="String">
        <value>123Isabella!||||||||||||||||||123Isabella!|||||||s</value>
      </setting>
    </JohnBPearson.Windows.Forms.HotkeyButler.Properties.Settings>
    <JohnBPearson.Windows.Forms.Properties.Settings>
      <setting name="hotkey2" serializeAs="String">
        <value>612Annie#</value>
      </setting>
      <setting name="UserHotKeyGuildAd" serializeAs="String">
        <value>s</value>
      </setting>
      <setting name="AllowedHotkeys" serializeAs="String">
        <value>a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z</value>
      </setting>
      <setting name="UserHotkeyAcceptance" serializeAs="String">
        <value>a</value>
      </setting>
      <setting name="hotkey1" serializeAs="String">
        <value>john.b.pearson</value>
      </setting>
      <setting name="Reminder01" serializeAs="String">
        <value>Test</value>
      </setting>
      <setting name="MaximumReminders" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="autoSave" serializeAs="String">
        <value>False</value>
      </setting>
    </JohnBPearson.Windows.Forms.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <JohnBPearson.Windows.Forms.KeyBindingButler.Properties.Settings>
      <setting name="BindableKeys" serializeAs="String">
        <value>a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z</value>
      </setting>
      <setting name="KeyBindingModifiers" serializeAs="String">
        <value>Alt + Shift + </value>
      </setting>
      <setting name="BindableKeysBackup" serializeAs="String">
        <value>a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z</value>
      </setting>
    </JohnBPearson.Windows.Forms.KeyBindingButler.Properties.Settings>
    <JohnBPearson.Windows.Forms.HotkeyButler.Properties.Settings>
      <setting name="HotkeyModifiers" serializeAs="String">
        <value>Alt + Shift + </value>
      </setting>
    </JohnBPearson.Windows.Forms.HotkeyButler.Properties.Settings>
    <JohnBPearson.Windows.Forms.Properties.Settings>
      <setting name="HotkeyModifiers" serializeAs="String">
        <value>Alt + Shift + </value>
      </setting>
    </JohnBPearson.Windows.Forms.Properties.Settings>
  </applicationSettings>
</configuration>